.modal-confirm .btn.btn-forceLogin {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  margin: 0px 20px 2px;
}

.modal-confirm .btn.btn-forceLogin:hover {
  color: #fff;
  background-color: #d27370;
  border-color: #d43f3a;
}
.modal-confirm .btn.btn-forceLogin:focus {
  color: #fff;
  background-color: #d27370;
  border-color: #d43f3a;
}

.modal-confirm .btn.btn-requestSession {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  float: right;
  margin: 0px 20px 2px;
}
.modal-confirm .btn.btn-requestSession:hover {
  color: #fff;
  background-color: #5e9bd0;
  border-color: #2e6da4;
}
.modal-confirm .btn.btn-requestSession:focus {
  color: #fff;
  background-color: #5e9bd0;
  border-color: #2e6da4;
}

.modal-dialog-AlreadyisSignedIn {
  margin: 10px 10px;
}

.modal-confirm .form-control.sendMessageLogin {
  max-width: 432px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  height: 38px;
}
