.modal-confirm .btn.btn-endSession {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  float: right;
  margin: 0px -46px 2px;
}

.modal-confirm .btn.btn-endSession:hover {
  color: #fff;
  background-color: #d27370;
  border-color: #d43f3a;
}
.modal-confirm .btn.btn-endSession:focus {
  color: #fff;
  background-color: #d27370;
  border-color: #d43f3a;
}

.modal-confirm .btn.btn-cancelSignedIn {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  float: left;
  margin: 0px 20px 2px;
}
.modal-confirm .btn.btn-cancelSignedIn:hover {
  color: #fff;
  background-color: #5e9bd0;
  border-color: #2e6da4;
}
.modal-confirm .btn.btn-cancelSignedIn:focus {
  color: #fff;
  background-color: #5e9bd0;
  border-color: #2e6da4;
}

