.select-backup-restore.css-2b097c-container {
  position: relative;
  box-sizing: border-box;
  width: 256px;
  margin-right: 10px;
  margin-bottom: 12px;
  color: #333;
  float: left;
}

.CodeMirror.cm-s-material {
  height: auto;
}

.CodeMirror-scroll {
  max-height: 750px;
}