.btn.btn-default.dropdown-toggle-tools-findports {
  /* margin-bottom: 15px; */
  width: 185px;
  height: 34px;
  margin-right: 10px;
}

.glyphicon.glyphicon-info-sign {
  color: #31708f;
  font-size: 16px;
}

.form-control {
  margin: 10px;
}
