.modal-confirm {
    color: #8e8e8e;
    width: 450px;
  }
  .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  .modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
    text-align: center;
    border-radius: 5px 5px 0 0;
  }
  .modal-confirm.modal-dialog {
    margin-top: 30px;
  }
  
  .modal-confirm h4 {
    color: #545557;
    text-align: center;
    font-size: 30px;
    margin: 0 0 25px;
  }
  .modal-confirm .form-control,
  .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
  }
  /* .modal-confirm .close {
    background: #c0c3c8;
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
    width: 22px;
    height: 22px;
    border-radius: 20px;
    font-size: 16px;
  }
  .modal-confirm .close span {
    position: relative;
    top: -1px;
  }
  .modal-confirm .close:hover {
    opacity: 0.8;
  } */
  .modal-confirm .icon-box {
    color: #f95858;
    display: inline-block;
    z-index: 9;
    text-align: center;
    position: relative;
    transform: scale(1.5);
  }
  .modal-confirm .icon-box i:first-child {
    font-size: 100px;
  }
  .modal-confirm .icon-box i:nth-child(2) {
    font-size: 138px;
    position: absolute;
    left: -19px;
    top: -23px;
    font-weight: bold;
    color: #fff;
  }
  .modal-confirm .icon-box i:last-child {
    font-size: 26px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 44px;
  }
  
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }
  
  .select-tolopology{
    width: 250px;
    margin-bottom: 10px
  }
